node_modules/
.expo/
dist/
web-build/
/android/
/ios/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.DS_Store
npm-debug.*
*.log

.env
.env.local
.env.*.local

.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
